$font-stack:    Ariel, sans-serif;
$primary-color: #333;

/*@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);*/

.inputBox {
	margin-top: 475px;
	margin-left: 230px;
	height: 50px;
	width: 600px;
	border-radius: 10px;
	
	color: #FDFFEE;

}
input {
	background-color: #FDFFEE;
	border-radius: 8px;
}

.inputSearch {
	margin-top: 475px;
	margin-left: 530px;
	height: 50px;
	width: 600px;
	border-radius: 10px;
}

.searchBtn {
	margin-left: 600px;
	width: 70px;
	height: 35px;
	border-radius: 8px;
	margin-top:8px;
	margin-bottom: 8px;
}

li a {
	
	color: #ffffff;
}
.footer {
	background-color:#B27D6B;
	height: 15px;
}

textarea {
	width: 100%;
	margin-top: 10px;
}
	
iframe {
	margin: 20px;
}

.lyrics {
	height: 450px;
	overflow: scroll;

}
.lyricsReview {
	overflow: scroll;
	width: 1100px;
	height:100px
}
.searchNav {
	margin-top: 8px;
}

.kfans {
	max-width: 140px;
	max-height: 110px;
}
.loginBack {
	max-width: 1300px;
	max-height: 1300px;
}
  
.container {
	margin-top: 40px;
	margin-bottom: 75px;
}
.searchCon {
	background: url(images/girlsgen.png) repeat;
}
.searchArticle{
	margin-bottom: 55px;
}
.loginBtn {
	background-color: #653738;
	
}
.loginRegister {
	margin-left: 470px;
	margin-top: 60px;
}

.loginCon {
	max-width: 100%;
	max-height: 1250px;
	background: url(images/girlsgen.png) repeat;
 /*url(images/k-fans31.jpeg)2% no-repeat,
 url(images/k-fan10.jpeg )5% no-repeat,
 url(images/k-fans11.jpg)2% no-repeat,
 url(images/k-fans25.jpg)2% no-repeat, 
 url(images/k-fans19.jpeg)2% no-repeat, 
 url(images/k-fans22.jpg)5% no-repeat, 
 url(images/k-fans25.jpg)5% no-repeat,
 url(images/k-fans26.jpg)5% no-repeat,
 url(images/k-fans28.jpeg)5% no-repeat, 
 url(images/k-fans34.jpg )5% no-repeat,
 url(images/k-fans35.jpeg )5% no-repeat,
 url(images/k-fans36.jpeg )5% no-repeat,
 url(images/k-fans40.jpg )5% no-repeat,
 url(images/k-fans39.jpeg )5% no-repeat,
 url(images/k-pop2.jpg )5% no-repeat,
 url(images/k-popfans15.jpg)5% no-repeat,
 url(images/k-popfans16.jpg )5% no-repeat,
 url(images/k-popfans2.jpg )5% no-repeat,
 url(images/k-popfans3.jpeg )5% no-repeat,
 url(images/k-popfans4.jpeg )5% no-repeat,
 url(images/k-popfans6.jpeg )5% no-repeat,
 url(images/k-popimage7.jpeg )5% no-repeat,
 url(images/k-popimage8.jpg )5% no-repeat,
 url(images/k-popimage8.png)5% no-repeat,
 url(images/k-popimage9.jpg)5% no-repeat;*/
}

.navBar{
	background-color: #FFE2C5;
}

body {
	background-color: #FFEEDD;
}
