<div class="container loginCon">
  <!-- <img src="images/k-fans11.jpg" class="kfans">
  <img src="images/k-fans12.jpg" class="kfans">
  <img src="images/k-fans13.jpeg" class="kfans">
  <img src="images/k-fans14.jpg" class="kfans">
  <img src="images/k-fans25.jpg" class="kfans">
  <img src="images/k-fans26.jpg" class="kfans">
  <img src="images/k-fans17.jpg" class="kfans">
  <img src="images/k-fans18.jpg" class="kfans">
  <img src="images/k-fans19.jpeg" class="kfans">
  <img src="images/k-fans27.jpg" class="kfans">
  <img src="images/k-fans21.jpeg" class="kfans">
  <img src="images/k-fans22.jpg" class="kfans">
  <img src="images/k-fans23.jpg" class="kfans">
  <img src="images/k-fans24.jpg" class="kfans">
  <img src="images/k-fans25.jpg" class="kfans">
  <img src="images/k-fans26.jpg" class="kfans">
  <img src="images/k-fans27.jpg" class="kfans">
  <img src="images/k-fans28.jpeg" class="kfans">
  <img src="images/k-fans29.jpg" class="kfans">
  <img src="images/k-fans30.jpeg" class="kfans">
  <img src="images/k-fans31.jpeg" class="kfans">
  <img src="images/k-fans33.jpg" class="kfans">
  <img src="images/k-fans34.jpg" class="kfans">
  <img src="images/k-fans35.jpeg" class="kfans">
  <img src="images/k-fans35.jpg" class="kfans">
  <img src="images/k-fans36.jpeg" class="kfans">
  <img src="images/k-fans39.jpeg" class="kfans">
  <img src="images/k-fans40.jpg" class="kfans">
  <img src="images/k-pop2.jpg" class="kfans">
  <img src="images/k-popfans1.jpeg" class="kfans">
  <img src="images/k-popfans15.jpg" class="kfans">
  <img src="images/k-popfans16.jpg" class="kfans">
  <img src="images/k-popfans2.jpg" class="kfans">
  <img src="images/k-popfans3.jpeg" class="kfans">
  <img src="images/k-popfans4.jpeg" class="kfans">
  <img src="images/k-popfans6.jpeg" class="kfans">
  <img src="images/k-popimage7.jpeg" class="kfans">
  <img src="images/k-popimage8.jpg" class="kfans">
  <img src="images/k-popimage8.png" class="kfans">
  <img src="images/k-popimage9.jpg" class="kfans">
 -->
  <h2 class="notification notification-confirm"> Welcome! </h2>
  <div class="row loginScreen">
    <div class="col-sm-offset-1 col-md-offset-2">
       
      
         <div class="inputBox">
          <input type="email" name="email" placeholder="Email*" class="form-control" ng-model="account.email">
         </div>
         
         <div class="inputBox">
          <input type="password" name="password" placeholder="Password*" class="form-control" ng-model="account.password">
         </div>
         <div class="inputBox">
          <input type="text" name="username" placeholder="Username*" class="form-control" ng-model="account.username">
         </div>
         <div>
           <button class="btn btn-info" ng-click="login()">Login</button>
           <button class="btn btn-info" ng-click="register()">Register</button>

        </div>
  
     </div>
  </div>
  
</div>
     
