<div class="container-fluid loginCon">
  
  <div class="row loginScreen">
    <div class="col-sm-offset-1 col-md-offset-2">
       
      
         <div class="inputBox">
          <input type="email" name="email" placeholder="Email*" class="form-control" ng-model="account.email">
         <!-- </div>
          -->
         <!-- <div class="inputBox"> -->
          <input type="password" name="password" placeholder="Password*" class="form-control" ng-model="account.password">
         <!-- </div> -->
         <!-- <div class="inputBox"> -->
          <input type="text" name="username" placeholder="Username*" class="form-control" ng-model="account.username">
         </div>
         <div class="loginRegister">
           <button class="btn btn-info loginBtn" ng-click="login()">Login</button>
           <button class="btn btn-info loginBtn" ng-click="register()">Register</button>

        </div>
  
     </div>
  </div>
  
</div>
     
