<div class="container-fluid container reviewVideo">
 <div class="topItems">
	<h4>{{currentVideo.title}}</h4>
  <h4>Translated By:  {{currentVideo.username}}</h4>
    <button class="lyric-btn btn showLyricsBtn" ng-click="lyrics=true">Show Lyrics For Review</button>
 </div>
    <div class="row">
      <div class="col-md-8
      embed-responsive
      embed-responsive-16by9">
        <iframe class="embed-responsive-item"  width="560" height="349" ng-src='{{currentPath}}' allowfullscreen></iframe>
    </div>
    
    <div class="lyrics-wrapper col-md-4">  
      <button type="button" class="btn btn-default btn-sm btn" ng-click="buttonClicked()" ng-model="currentVideo.reviewCount">
      <span class="glyphicon glyphicon-thumbs-up"></span> Like
      </button>
      <span >Count: {{currentVideo.reviewCount}}</span>
      <div class="lyrics" ng-show="lyrics">
    
        <string><p class="lyricsSize">{{currentVideo.lyrics}}</p></string>
      </div>
    </div>
  </div>
</div>
<!-- ng-click="reviewCount = reviewCount + 1 " ng-init="reviewCount=0" -->