
	<section class="container-fluid searchCon">
		
	<!-- <img src="images/k-fans11.jpg" class="kfans">
	<img src="images/k-fans12.jpg" class="kfans">
	<img src="images/k-fans13.jpeg" class="kfans">
	<img src="images/k-fans14.jpg" class="kfans">
	<img src="images/k-fans25.jpg" class="kfans">
	<img src="images/k-fans17.jpg" class="kfans">
	<img src="images/k-fans18.jpg" class="kfans">
	<img src="images/k-fans27.jpg" class="kfans">
	<img src="images/k-fans21.jpeg" class="kfans">
	<img src="images/k-fans22.jpg" class="kfans">
	<img src="images/k-fans23.jpg" class="kfans">
	<img src="images/k-fans24.jpg" class="kfans">
	<img src="images/k-fans25.jpg" class="kfans">
	<img src="images/k-fans26.jpg" class="kfans">
	<img src="images/k-fans27.jpg" class="kfans">
	<img src="images/k-fans28.jpeg" class="kfans">
	<img src="images/k-fans29.jpg" class="kfans">
	<img src="images/k-fans30.jpeg" class="kfans">
	<img src="images/k-fans31.jpeg" class="kfans">
	<img src="images/k-fans33.jpg" class="kfans">
	<img src="images/k-fans34.jpg" class="kfans">
	<img src="images/kfans1.jpg" class="kfans">
	<img src="images/kfans10.jpg" class="kfans">
	<img src="images/kfans11.jpg" class="kfans">
	<img src="images/kfans13.jpg" class="kfans">
	<img src="images/kfans14.jpg" class="kfans">
	<img src="images/kfans15.jpg" class="kfans">
	<img src="images/k-fans36.jpeg" class="kfans">
	<img src="images/k-fans39.jpeg" class="kfans">
	<img src="images/k-fans40.jpg" class="kfans">
	<img src="images/k-pop2.jpg" class="kfans">
	<img src="images/k-popfans1.jpeg" class="kfans">
	<img src="images/k-popfans15.jpg" class="kfans">
	<img src="images/k-popfans16.jpg" class="kfans">
	<img src="images/k-popfans2.jpg" class="kfans">
	<img src="images/k-popfans3.jpeg" class="kfans">
	<img src="images/k-popfans4.jpeg" class="kfans">
	<img src="images/k-popfans6.jpeg" class="kfans">
	<img src="images/k-popimage7.jpeg" class="kfans">
	<img src="images/k-popimage8.jpg" class="kfans">
	<img src="images/k-popimage8.png" class="kfans">
	<img src="images/k-popimage9.jpg" class="kfans">
	 -->
	
		
		<div class="row ">
    	<div class="col-md-8">
				<!-- <h5 class="search">Search your favorite K-Pop</h5> -->
					
						<input type="text"  id="query" ng-model="query" placeholder="Search your favorite K-pop" class="form-control inputSearch" ng-keypress="getVideo(query)">

						<!-- <button class="btn-info searchBtn" ng-click="getVideo(query)">search
						</button>
						<br> -->
				
				</div>
		</div>
</section>		
		
	<article class="col-md-12 box searchArticle" >

		<div class="col-md-4" ng-repeat="video in data">
			<div class="video{{data.indexOf(video)+1}}">
				<strong><p id="title">{{video.snippet.title}}</p></strong>
			 <div class ="col-sm-6 prv" ng-show="preview">
					 <button class="btn" ng-click="preview=false">close preview
					 </button>
					  <iframe width="600" height="450" ng-src="{{video.videoID}}" frameborder="1" allowfullscreen>
				  	</iframe>
				 </div>
				  <img ng-src="{{video.snippet.thumbnails.medium.url}}">
				  <p class="hidden">{{video.id}}</p>
				</div>
				<button class="btn" ng-click="saveToMyVideos(video)">Save in my collection</button>
				<button class="btn" ng-click="preview=true">preview
				</button>
		 </div>
	</article>
	
		