<div class="col-md-12 editVideo">

	<h3>{{currentVideo.title}}</h3>
<!-- <iframe width="850" height="500" ng-src= 'http://www.youtube.com/embed/tiV4yyZF4mc' frameborder="1" allowfullscreen></iframe> -->
<button class="lyric-btn" ng-click="lyrics=true">Show Lyrics/Write Lyrics</button>
<div class="video">
    <iframe width="1100" height="650" ng-src='{{currentPath}}' frameborder="0" allowfullscreen></iframe>
</div>
<!-- <button class="btnx" ng-click="removeVideo(currentVideo)">Delete Video</button> -->
<!-- <a class="anc" ng-href="/#!/edit/:videoId">Watch Video</a> -->
 <div ng-show="lyrics">
 		<div class="col-md-6 text">
    	<textarea rows="12" placeholder="Place your lyrics here" ng-model="currentVideo.lyrics"></textarea><br>
      <button class=btn ng-click="editVideo()">Save in your collection</button><br>
      <input type="checkbox" ng-checked="false" ng-model="currentVideo.review">For Review
    </div>
    <div class="col-md-6 lyrics">
        <h4>{{currentVideo.lyrics}}</h4>
    </div>
    
        
        <!-- this checkbox is to send the info to the data for the review page to show the data when it's called-->
    
  </div>
 </div>
